body {
    width: 90%;
}

.app-container {
    border: 5px solid red;
}

.todo-container {
    border: 5px solid blue;
}

.todo-list {
    
}

.todo-input {
    
}

.add-todo-button {
    
}

.todo-entry {
    
}

.todo-checkbox {
    
}

.todo-title {
    
}